#main-quran {
  margin: auto;
  width: 50%;
}

@media (max-width: 600px) {
  .App {
    width: 100%;
  }
  #main-quran {
    width: 90%;
  }
}

#container {
  margin-left: -8px;
}

@font-face {
  font-family: "LPMQ2";
  src: url('https://uminabdillah.github.io/fonts/lpmq.eot');
  src:url('https://uminabdillah.github.io/fonts/lpmq.eot?#iefix') format('embedded-opentype'),
  url('https://uminabdillah.github.io/fonts/lpmq.ttf') format('truetype');
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}
#arab {
  line-height: 60px;
  font-family: LPMQ2, "Traditional Arabic", Tahoma, sans-serif;
  font-weight: normal;
  text-align: right;
  direction: rtl;
}
